transformers @ git+https://github.com/huggingface/transformers
accelerate>=0.26.0
soundfile>=0.12.1
fastapi>=0.104.0
uvicorn[standard]>=0.24.0
ffmpeg-python>=0.2.0
python-multipart>=0.0.6
torchaudio>=2.0.0
pydub>=0.25.1
sse-starlette>=1.6.0
silero-vad>=5.1
